html, body, #preloader, #map {
    height: 100%;
    width: 100%;
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.frame {
    background-color: rgba(255, 255, 255, 1);
    height: 300px;
    width: 500px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .frame {width: 100%};
}

@media only screen and (max-height: 300px) {
    .frame {height: 100%}
}

@media only screen and (max-width: 65px) {
    .frame {display: none;}
}

.loading-header {
    text-align: center;
    font-size: 32px;
    color: black;
    margin-bottom: 5%;
}

@media only screen and (max-width: 240px) {
    .loading-header {font-size: unset;}
}

@media only screen and (max-width: 160px) {
    .loading-header {display: none;}
}


/* MAP PART BELOW */

#map {
    z-index: 0;
}

.legend {
    position: relative;
    padding: 6px 8px;
    background: rgba(255,255,255,1);
    /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 10px;
    opacity: 0.8;
}

@media only screen and (max-width: 120px) {
    .legend {display: none;}
}

