html, body, #preloader, #map {
    height: 100%;
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.frame {
    background-color: rgba(244, 195, 125, 0.3);
    height: 300px;
    width: 500px;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .frame {width: 100%};
}

@media only screen and (max-height: 300px) {
    .frame {height: 100%}
}

.loading-header {
    color: black;
}

#loader {
    width: 60px;
    height: 60px;
}

#map {
    z-index: 0;
}

.legend i {
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}